  <!-- hearer.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->
  <!-- Bottom Nav -->
  <footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h8 class="display-12 navbar-text">&copyl Copyright 2021. All rights reserved.</h8>
  </nav>
  </footer>