  <!-- content.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->
  <!-- Main content section -->
  <main class="container">
    <div class="jumbotron">
    
      <!--h1-- class="display-8"></!--h1-->
        
        <% if (title == "Home") { %>
        <img scr="/Assets/images/logo_big.png">
        <% } else  { %>
        <p1>It not home page</p1>
        <% } %>

    </p1>
  </main>
