  <!-- content.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->
  <!-- Main content section -->
  <main class="container">
    <div class="jumbotron">
    
      <!--h1-- class="display-8"></!--h1-->
        
        <% if (title == "Home") { %>
        <div class="row-fluid center">
            <img class="home-img" src="/Assets/images/logo_big.png" alt="Viktoriia Romaniuk personal site" >
            <h4 style="text-align: center"> <b>Web design && Programming</b></h4>
        </div>
        <div>
            <img src="/Assets/images/home_bg.png">
        </div>
        
        <% } elsif (title == "Home") { %>
        <p1>It is about page</p1>
        <% } %>

       

        <% } else  { %>
        <p1>It is not home page</p1>
        <% } %>

    </p1>
  </main>
