  <!-- content.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->
  <!-- Main content section -->
  <main class="container">
    <div class="jumbotron">
    
      <h1 class="display-8"></h1>
    </div>
  </main>
