  <!-- content.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->
  <!-- Main content section -->
  <main class="container">
    <div class="jumbotron">
    
      <!--h1-- class="display-8"></!--h1-->
        
        <% if (title == "Home") { %>
        <div class="row-fluid center">     
            <h4 style="text-align: center"> <b>Web design && Programming</b></h4>
        </div>
        <div>
            <img src="/Assets/images/home_bg.png">
        </div>
        <% } else if (title == "About") { %>
        <div class="row-fluid center" style="padding-top: 10px">     
            <h4 style="text-align: center"> <b>Hello, I'm Viktoriia</b></h4>
        </div>
        <table>
            <th style="width: 30%">
                <td style="width: 10%">
                    <img src="/Assets/images/viktoriia.jpg" alt="">
                </td>
                <td>
                    <text >
                        I am green web Developer creative and full of ideas. Web site development is my passion.  
                        I became fascinated by the ability a web developer has to be imaginative, artistic and technical while developing a product that benefits and inspires others.
                        I am proficient in HTML, CSS and PHP, and I have beginner-level proficiency in SQL and JavaScript.
                    </text>
                </td>
            </th>
        </table>
           
    


            
        </div>
        
        <% } else if (title == "Projects") { %>
        <p1>It is projects page</p1>    
        <% } else if (title == "Services") { %>
        <p1>It is projects page</p1>
        <% } else if (title == "Contact") { %>
        <p1>It is projects page</p1>
        <% } %>

    </p1>
  </main>
