  <!-- footer.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->

  <!--JavaScript Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>