<!-- about.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<!-- Main block -->
<!--%- include ("partials/content.ejs") %-->
<div class="row-fluid center" style="padding-top: 10px">     
            <h4 style="text-align: center; padding-top: 30px;"> <b>Hello, I'm Viktoriia</b></h4>
        </div>

        <div>
            <span>
                <a href="/Content/resume.pdf"> <img src="/Assets/images/viktoriia.jpg" alt=""> 
                    <div>
                        Download my resume
                    </div>
                    
                </a>
                <hr>
                I am green Web Developer, creative and full of ideas. 
                Web site development is my passion.  
                I became fascinated by the ability a web developer has to be imaginative, artistic and technical while developing a product that benefits and inspires others.
                I am proficient in HTML, CSS and PHP, and I have beginner-level proficiency in SQL and JavaScript.
            </span>
     

        </div>

        <table>
            <th style="width: 30%">
                <td >
                    
                    <a href="/Content/resume.pdf"> <img src="/Assets/images/viktoriia.jpg" alt=""> 
                        Download my resume
                    </a>
                </td>
                <td style="width: 40%; padding: 10px;">
                    I am green Web Developer, creative and full of ideas. 
                    Web site development is my passion.  
                    I became fascinated by the ability a web developer has to be imaginative, artistic and technical while developing a product that benefits and inspires others.
                    I am proficient in HTML, CSS and PHP, and I have beginner-level proficiency in SQL and JavaScript.
                </td>
                <td style="width: 70%" >
                </td>
            </th>
        </table>
 
        </div>

<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
