<!-- contact.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<div>
        <form action="">
            <label for="firstName">First Name:</label>

            <!--div class="container">
               <!--img src="/Assets/images/letschat.jpg" alt=""-->
               <div action="results.htm">
                <fieldset id="contactinfo">
                  <div class="row">
                    <div class="col-25">
                      <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="firstName" name="firstname" placeholder="Please enter your first name..">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-75">  
                      <input type="text" id="lastName" name="lastName" placeholder="Please enter your last name..">
                    </div>
                  </div>
                </fieldset>
                <p>
                    <input type="button" id="clearBtn" value="Clear Form">
                    <input type="submit" id="submitBtn" value="Submit">
                  </p>
           </form>
       </div>

<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
