<%- include partials/header.ejs %>
 
 

  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
  </div>

  <!-- Bottom Nav -->
  <footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h8 class="display-12 navbar-text">&copyl Copyright 2021. All rights reserved.</h8>
  </nav>
  </footer>

<%- include partials/footer.ejs %>
