<% import partilas/header.ejs %>
 
 <% import partilas/main_nav.ejs %>

  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
  </div>

  <% import partilas/footer.ejs %>

  <!--JavaScript Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
