<!-- projects.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<table class="center">
                <tr>
                    <td>
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Real Estate Website
                        </div>
                        <a href="http://studentweb.cencol.ca/vromaniu/Project/house1.html">
                            <img src="/Assets/images/realestate.jpg" alt="" >
                        </a>                      
                        
                    </td>
                    <td> 
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Photo Gallery
                        </div>
                        <a href="http://studentweb.cencol.ca/vromaniu/Semester2/Assignment6/photos.htm">
                            <img src="/Assets/images/gallery.jpg" alt="">
                        </a> 
                    </td>
                    <td>
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Game
                        </div>
                        <a href="http://studentweb.cencol.ca/vromaniu/Semester2/Assignment5/index.html">
                            <img src="/Assets/images/socker.png" alt="">
                        </a>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width: 250px; text-align: center;">
                        
                           Designed and built of website including site content 
                        </div>
                        
                    </td>
                    <td>
                        <div style="width: 300px; text-align: center;">
                            Created a professional-looking online photo gallery
                        </div>
                        
                    </td>
                    <td>
                        <div style="width: 300px; text-align: center;">
                            The player tries to catch the ball by clicking on it. 
                            If he succeeds, the score is incremented and the hopping interval is decremented 
                        </div>
                        
                    </td>
                </tr>
            </table>


<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
