/* your custom css goes here */

* {
    box-sizing: border-box;
  }

.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 20%;
  }

  .centered {
    position: fixed;
    top: 60%;
    left: 50%;
    width: 30%;
    border: 2px solid rgb(146, 132, 132);
    margin: 0px;
    padding: 10px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
 
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  td {
      left: 30%;
    padding: 5px;
    position: relative;
}
  

  
