/* your custom css goes here */

.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 20%;
  }

  .text-box {
    width: 320px;
    padding: 10px;
    border: 2px solid rgb(66, 64, 64);
    margin: 0
  }