<!-- services.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-03 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<table class="center">
                <tr>
                    <td>
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Web Design
                        </div>
                        <img src="/Assets/images/web-design.jpg" alt="" >                     
                        
                    </td>
                    <td> 
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Programming
                        </div>
                        <img src="/Assets/images/programming.jpg" alt="" >
                    </td>
                    <td>
                        <div style="font-size: 25px; color: red; text-align: center;">
                            Mobile Applications
                        </div>
                            <img src="/Assets/images/mobile.jpg" alt="" >                   
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width: 250px; text-align: center;">
                            We can help you with website design, domain registration, web hosting, development and more.
                        </div>
                    </td>
                    <td>
                        <div style="width: 250px; text-align: center;">
                            We create user friendly solutions to very complex problems. Our clients typically include our work as part of their core product offerings.
                        </div>
                    </td>
                    <td>
                        <div style="width: 250px; text-align: center;">
                            Based on your requirements, we develop an app for your business.
                        </div>
                    </td>
                </tr>
            </table>

<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
